{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "babel",
    "async-await",
    "import"
  ],
  "rules": {
    "react/require-extension": "off",
    "async-await/space-after-await": 2,
    "async-await/space-after-async": 2,
    "generator-star-spacing": [2, {"before": false, "after": true}],
    "camelcase": [2, {"properties": "always"}],
    "eqeqeq": [2, "smart"],
    "import/prefer-default-export": 0,
    "import/extensions": [2, {
      "js": "never",
      "json": "always",
      "jsx": "always"
    }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "indent": [2, 2, {"SwitchCase": 1}],
    "linebreak-style": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/img-has-alt": 0,
    "max-len": [2, 80, 4],
    "new-cap": 2,
    "no-console": 2,
    "no-alert": 0,
    "no-constant-condition": 0,
    "no-shadow": 0,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "no-use-before-define": [2, "nofunc"],
    "prefer-arrow-callback": 2,
    "quotes": [2, "single", "avoid-escape"],
    "react/jsx-filename-extension": 0,
    "semi": [2, "always"],
    "strict": [2, "global"],
    "arrow-parens": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
